body{
    margin: 0 auto;
    padding: 50px 500px;
    box-sizing: border-box;
    background-image: url(download.jpg);
}

div{
    display: block;
    font: inherit;
    margin: 0;
    padding: 0;

}

.CONTENT{
    background-color: white;
    border: 0px none #d9d9d9;
    position: relative;
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
}

ul{
    list-style: none outside none;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li{
    display: list-item;
    font: inherit;
    vertical-align: baseline;
    border: 0;
}

.HEAD{
    background-size: contain;
    position: relative;
    margin: 0;
    padding: 0;
}

.head{
    text-align: left;
    background-color: #4B4539;
    margin: 0;
    padding: 10px 18px;
    border-bottom: 1px solid #EAEAEA;
    border-radius: 2px 2px 0 0;
}

.TITLE{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 100;
    word-spacing: 10px;
    letter-spacing: 3px;
    position: relative;
    margin: 0;
    padding: 0;
}

.title{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 50;
    word-spacing: 10px;
    letter-spacing: 2px;
    position: relative;
    margin: 0;
    padding: 0;
}

.line{
    clear: both;
}

.FORM{
    position: relative;
}

.forms{
    padding: 10px;
    margin: 0;
    margin-bottom: 0;
    overflow: hidden;
}

.FIELD .form1{
    overflow: hidden;
}

.form1{
    padding: 10px;
    margin: 5px 0;
}

.ALIGNTOP .form1 .LABEL{
    padding-bottom: 8px;
    display: block;
}

.form1 .LABEL{
    font-family: Courier New, Courier, monospace;
    font-size: 18px;
    color: #0D0D0D;
    font-style: normal;
    font-weight: 400;
    position: relative;
}

label{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    cursor: default;
}

em{
    margin: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.REQUIRED{
    color: #ff0000 !important;
    font-weight: normal;
    margin-left: 0px;
    padding: 0;
}

.form1 .BOX{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', "Lucida Grande", Arial, Arimo, Helvetica, sans-serif;
    height: 1%;
    position: relative;
}

.SMALL .BOX input[type="text"]{
    width: 50%;
}

.BOX input[type="text"]{
    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 5px;
    font-size: 13px;
    box-sizing: border-box;
}

input[type="text"]{
    color: #444;
    outline: none;
    margin: 0;
    font-family: 'Open Sans', "Lucida Grande", Arial,Arimo, Helvetica, sans-serif;
}

input{
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
}

.LARGE .BOX .CONT{
    width: 100%;
}

.ADDRESS .BOX .ONE{
    float: none;
    padding-bottom: 15px;
    margin-right: 0;
}

.ADDRESS .BOX span{
    display: block;
    position: relative;
}

span{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.ADDRESS .BOX .ONE input{
    width: 100%;
}

.ADDRESS .BOX span label{
    font-size: 12px;
    padding-top: 3px;
    display: block;
}

.ADDRESS .BOX label{
    color: #888888;
}

.SUB{
    margin-left: 2px;
}

.ADDRESS .BOX span.TWO{
    width: 48%;
    padding-bottom: 15px;
    margin-right: 2%;

}

.LEFT{
    float: left;
}

.ADDRESS .BOX span.TWO input{
    width: 100%;
}

.SELECT{
    box-sizing: border-box;
    text-align: left;
    height: 28px;
    min-width: 72px;
    position: relative;
    background: #fff;
    overflow: hidden;
    border: 1px solid #DDDDDD;
}

.SELECT .ARROW{
    right: 3px;
}

.ARROW{
    border: solid #777;
    border-width: 0 1px 1px 0 !important;
    display: inline-block;
    padding: 3px;
    top: 3px !important;
    position: absolute;
    width: 0;
    height: auto;
    left: auto;
    margin: 5px;
    background: none;
    -webkit-transform: rotate(45deg) !important;
}

.form1 .BOX .SELECT select{
    padding: 5px 25px 5px 5px;
}

.SELECT select{
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    border: 0;
    width: 110%;
    font-size: 13px;
    outline: none;
    margin: 0;
    user-select: none;
    font-family: 'Open Sans', "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    text-indent: 0.01px;
    background: transparent;
    min-width: 55px;
    max-width: 100%;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.forms li{
    position: relative;
}

.COLUMN{
    padding-bottom: 6px !important;
}

.RADIO .OVER{
    padding-left: 2px !important;
}

.OVER{
    overflow: hidden;
}

.COLUMN .BOX span{
    margin: 0 0 13px 0;
    padding: 0;
    width: 100%;
    display: block;
    clear: both;
}

.COLUMN .BOX span input[type="radio"]{
    display: block;
    float: left;
    padding: 0;
    margin-top: 4px;
    width: 13px;
    height: 13px;
}

.BOX input[type="radio"]{
    margin: 4px 0 0;
}

input[type="radio"]{
    font-family: 'Open Sans', "Lucida Grande", Arial,Arimo, Helvetica, sans-serif;
    color: #444;
    outline: none;
}

.COLUMN .BOX span label{
    font-family: Open Sans;
    font-size: 15px;
    color: #444444;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    margin: 0 0 0 20px;
    padding: 0;
}

.EM{
    font-style: inherit;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
    text-align: center;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #f8c200;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #f8c200;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #f8c200;
}

.REL{
    position: relative;
}

.FOOT{
    overflow: hidden;
    margin: 0;
    padding: 0;

}

.FOOT2{
    margin: 0;
    padding: 25px;
    text-align: center;
}

.FOOT5{
    display: inline-block;
}

.SUBMIT1{
    float: none;
    border: none;
    font-family: Merriweather;
    font-size: 20px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 200;
    background-image: none;
    background-color: #4B4539;
    background: #4B4539;
}

.SUBMIT{
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 5px 15px;
    font: 20px Courier New, Courier, monospace;
    position: relative;
    overflow: hidden;
    font-weight: 500px;
}

button{
    outline: none;
    margin: 0;
    appearance: auto;
    writing-mode: horizontal-tb !important;
    box-sizing: border-box;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    text-rendering: auto;
}

